<%= form_for(@apartment, html: { multipart: true }) do |f| %>
  <% if @apartment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@apartment.errors.count, "error") %> prohibited this apartment from being saved:</h2>

      <ul>
      <% @apartment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% if cookies[:login_id] != 'empty' %>

    <div class="field">
      <%= f.label :address %><br>
      <%= f.text_field :address %>
    </div>
    <div class="field">
      <%= f.label :name %><br>
      <%= f.text_field :name %>
    </div>
    <div class="field">
      <%= f.label :image %><br>
      <%= f.file_field :image %>
    </div>

    <div class="actions">
      <%= f.submit %>
    </div>
    <div class="field">
      <input type="hidden" name="apartment[account_id]" id="apartment_account_id" value="<%= cookies[:login_id] %>" />
    </div>

  <% else %>
    <h1>Log In to make a posting</h1>
  <% end %>

<% end %>
